/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/
@font-face {
    font-family: "Spartan";
    src: url("/user/themes/learn2-git-sync/fonts/Spartan-VariableFont_wght.ttf");
}

#sidebar {
    background-color: #465176; /* secondary color */
}
#sidebar #header {
    background-color: #4AC694; /* primary color */
}

#sidebar #header .logo-container {
    margin: 2em 0 0;
}

#sidebar #header .logo-container .logo {
    display: inline-block;
    max-width: 45px;
    vertical-align: bottom;
}

#sidebar #header .searchbox {
    background: #fff;
    border-radius: 0px;
}

#sidebar #header .searchbox label {
    color: rgba(0, 0, 0, 0.8);
}

#sidebar #header .searchbox input {
    color: #000;
}

#sidebar #header .searchbox input::placeholder {
    color: rgba(0, 0, 0, 0.8);
    opacity: 1; /* Firefox */
}

#sidebar #header .logo-container h5 {
    font-family: Spartan, sans-serif;
    font-weight: 700;
    margin: 0 0 0 10px;
    position: relative;
    line-height: 2;
    display: inline-block;
}