{% if not (theme_config.hide_site_title) %}
  <p><div style="margin-bottom: -4rem;">&nbsp;</div></p>
  <div class="logo-container">
    <img class="logo" src="/user/themes/learn2-git-sync/images/kavita-book-cropped.png" alt="kavita icon" aria-hidden="true">
    <h5>{{config.site.title}}</h5>
  </div>
  <p><div style="margin-top: -4rem;">&nbsp;</div></p>
{% endif %}
